@import url('https://fonts.googleapis.com/css2? family= Ibarra+Real+Nova:wght@700 & display=swap');

*{
    margin: 0 9px;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rampart One', cursiva;
}
.titulo{
    position: static ;
}
body{
    text-align: center;
    min-height: 100vh;
    background-image: url(/imagens/Plano-de-fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
main{
    display: flex;
    margin-top: 2%;
}
.equipe{
    font-family: 'Rampart One', cursiva;  position: absolute;
    left: 32%;
    bottom: 68%;
}

#pokedex{
    background: none;
    width: 100%;
}

.boards {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
}

.board {
    background-image: url(/imagens/Tela-de-seleção.png);
    width: 25.1rem;
    height: 23.4rem;
    background-repeat: no-repeat, repeat;
}
.dropzone {
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
}
.card {
    box-shadow: 0 2px 2px -1px #111;
    max-width: 10rem;
    border-radius: 4px;
    padding: .5rem;
}
.h3{
    margin: 2%;
}
.Dados{
    margin: 2%;
    font-family: 'Rampart One', cursiva;
    background: rgb(255, 255, 255);
    margin-bottom: 2%;
    border-radius: 11px;
    border: double;
}
.botao{
    font-family: 'Rampart One', cursiva;
    background: rgb(255, 255, 255);
    margin-bottom: 18px;
    border-radius: 11px;
    
}
.status {
    width: 30px;
    height: 8px;
    background: gray;
    margin-bottom: 16px;
    border-radius: 8px;
}

.status.green {
    background: #23d2ac;
}
.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: #22ff0011;
}
